
<html lang ="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewpoint" content = "width=device-width, initial-scale =1.0">
        <link rel = "stylesheet" href=" ../static/css/home3.css">
        <link rel = "preconnect" href="https://fonts.googleapis.com">
        <link rel = "preconnect" href="https://fonts.gstatic.com"> crossorigin
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300">
        <title>CONTEXTO</title>

    </head>
<body>
    <section class="purple-section">
        <div class="cuadrado-amarillo"></div>
        <h1>CONTEXTO</h1>
    </section>
    <section class="yellow-section">
        <div class="div-1">
            <p>
                Las caracteristicas de estas materias es que son de la UCEMA y son materias de segundo año de la carrera de Negocios Digitales
            </p>
        </div>
        <div class="img-div">
            <img src="http://www.mghassany.com/courses/MLcourse/img/iris.png" alt="Datos" class="img-datos">
        </div>   
    </section>
    <section class = "green section">
        <h4>Autoria anónima</h4>
    </section>
</body>