<!DOCTORTYPE html>
<html lang="en">
<head> 
    <meta charset = "UTF -8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewpoint" content = "width=device-width, initial-scale =1.0">
    <link rel = "stylesheet" href=" ../static/css/home.css">
    <title>MackoWins</title>


</head>
<body>
    <! - - Este es mi comentario - - >
    <h1>MacoWins</h1>
    <section class = "welcome">
        <p>Te damos la bienvenida a MacoWins</p>
        <img src = "https://t4.ftcdn.net/jpg/03/41/47/73/360_F_341477352_FPoRvWnWWqdzVFnIWn3on34gYWaSEX2K.jpg">
    </section>
    </section class = "about">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <ul>
            <li> Pantalones </li>
            <li> Remeras </li>
        </ul>
    </section>
    <footer>
        <p>MacoWins contact: contacto@macowins.com</p>
    </footer>
</body>
</html>
